<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <!-- 탬플릿으로 변수 호출 -->
    <!-- <h2>Her first name was {{first_name | lower | capfirst}} and her last was {{last_name | capfirst}}</h2> -->
    <!-- 탬플릿으로 리스트와 딕셔너리의 각 위치의 값을 보는 값 -->
    <!-- <h2>{{some_list.0}}</h2>
    <h2>{{some_dict.inside_key}}</h2> -->
    <!-- 탬플릿으로 주석 작성하는 법 -->
    <!-- <h2>{# this is a commet #}</h2> -->
    {% if user_logged_in %}
    <h1>Welcome back you are logged in</h1>
    {% endif %}


    <ul>
    {% for item in some_list %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</body>
</html>